.section-checkout{
    display:block;
    max-width:1200px;
    /* height:100%; */
    /* margin-right:auto;
    margin-left:auto; */
    padding-top:60px;
	padding-bottom:50px;
	padding-left: 24px;
    padding-right: 24px;
	font-size:16px;
	line-height: 22px;
	align-items:center;
}

.container-checkout{
    display:block;
    max-width:1200px;
    padding-left: 24px;
    padding-right: 24px;
    font-size:16px;
    align-items:center;
    margin-right: auto;
    margin-left: auto;
    
}


.column-labels{
    display:flex;
    width:100%;
    border-bottom : 1px solid gray;
}



.item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid gray;
}



.product-image,
.item-image {
    width: 16.6%;
    float:left;
    text-align:left;
}


.item-image img{
    width:150px;
}


.product-details,
.item-checkout-name{
    width: 16.6%;
    float:left;
}

.product-price,
.item-price {
    width: 16.6%;
    float:left;
}
   
.product-quantity,
.item-quant{
    width: 16.6%;
    float:left;
}


.product-line-price,
.item-line-price{
    width:16.6%;
    float:left;
}

.product-removal,
.item-removal{
    width:16.6%;
    float:left;
}


img .item-remove-btn {
    width:20px;
}




    
.totals{
    display:flex;
    flex-direction: column;
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}

.totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;}

    
.totals-item label {
      float: left;
      clear: both;
      width: 79%;
      text-align: right;
    }
    
    .totals-value {
      float: right;
      width: 21%;
      text-align: right;
    }

  
  /* .totals-item-total {
    font-family: $font-bold;
  
} */

.btn-checkout{
display:flex;
float:right;
flex-direction: column;
 width:150px;
 font-size:16px; 
 text-align:center;
 border: 0;
 padding: 6 25 6 25;
  background-color: #F3E5AB;
  color: black;

  /* border-radius: 3px; */
}


.btn-checkout:hover {
  background-color:gray;
  color:white;
  
}
