/* footer */

.footer{
	display: block;
	font-size:15px;
}

.container-footer {
    display:flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding-right: 80px;
    padding-left: 80px;
    padding-top:20px;
	flex:1;
}

.footer-col{
	display: flex;
	flex:1;
	margin-top:10px;
	justify-content: center;
}

.footer-first-column {
    display:flex;
    flex-direction: column;
    text-align: center;
}

.footer-col:nth-child(1){
    order: 1;
}

.footer-col:nth-child(2){
    order: 3;
}

.footer-col:nth-child(3){
    order: 2;
}

.footer-first-column {
    text-align: center;
}

.address {
    display: none;
}

@media all and (min-width:768px)  {
    .container-footer {
        flex-direction: row;
    }

    .footer-col:nth-child(1){
        justify-content: flex-start;
        flex:1;
        order: 1;
    }
    
    .footer-col:nth-child(2){
        flex:2;
        order: 2;
    }
    
    .footer-col:nth-child(3){
        justify-content: flex-end;
        flex:1;
        order: 3;
    }

    .footer-first-column {
        text-align: left;
    }

    .address {
        display: block;
    }
}

.footer-logo-wrapper {
    display:flex;
}

.logo-small{
    width: 28;
    height:28;
}

.logo-big{
	padding-left:5;
	width:200;	
} 

.copyright{
	position:relative;
	text-align:center;
}

.social{
    text-align: center;
	/* height:36; */
	/* right:82; */
	/* position: absolute; */
	
}
/* .social-block{
    display:flex;
	
} */

.social-icon{
	width: 30px;
	padding-right:10px;
}


