
@media (max-width: 480px){
	.section-single-product{
		display:block;
		max-width:1200px;
		margin-right:auto;
		margin-left:auto;
		padding-top:60px;
		padding-bottom:50px;
		padding-left: 24px;
		padding-right: 24px;
		font-size:16px;
		line-height: 22px;
		align-items:center;
	}
	.container-item{
		display:flex;
		flex-direction:column;
		flex:1;
		align-items:center;
		margin-left:auto;
		margin-right:auto;
		align-content: center;
		justify-content: center;
	}
	.item-photo{
		max-width:100%;
		border:1px solid #D1BEA8;
		align-content: center;
		text-align:center;
	}
	.item-photo img{
		width:100%;
	}
	.item-box{
		text-align:left;
		display:flex;
		flex-direction: column;
		position:relative;
		left:0;
		width:100%;
	}
	.item-name{
		font-size:16px;
		width:100%;
	}
	#add-to-cart-text{
	height: 35px;
	width: 150px;
	border:1px solid gray;
	}
	#add-to-cart-button{
		background-color:#392f31;
		width:100px;
		height:40px;
		color:#fff;
		padding: 10 15;
		text-transform:uppercase;
	}
	#add-to-cart-button:hover{
		background-color:D1BEA8;
        color:white;
	}
	.container-item-detail{
		display:flex;
		flex:1;
		padding-left: 24px;
		padding-right: 24px;
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}
	.item-detail-wrap{
		width:482px;
	}
	.item-info{
		padding-left: 80px;
		left: 60px;
	}
	.label-item-price{
		color: #D1BEA8;
		padding-top:20px;
	}
	.price{
		color: black;
		font-weight: 600;
	}
	.label-quantity{
		color: #D1BEA8;
		padding-top:20px;
	}
	.label-desc{
		color: #D1BEA8;
		padding-top:20px;
	}
	.label-item-detail{
		color: #D1BEA8;
		padding-top:20px;
		padding-bottom:20px;
	}
}