@media(min-width: 481px) {
    .carousel {
        width: 100%;
        background: #f9f7f6;
        display: flex;
        align-items: center;
        padding: 56px;
    }
    .carousel .arrow {
        width: 56px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
    .carousel-arrow {
        width: 20px;
        height: auto;
    }
    .carousel .arrow.left {
        left: 0;
    }
    .carousel .arrow.right {
        right: 0;
    }
    .carousel-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: unset;
    }
    .text .title1,
    .text .title3 {
        font-size: 16px;
        line-height: 22px;
    }
    .text .title2 {
        font-size: 48px;
        line-height: 54px;
        margin-bottom: 20px;
    }
    .title3 {
        width: 150px;
        padding: 10px 20px;
        background-color: white;
        border: 1px solid lightgray;
        color: black;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        letter-spacing: 2px;
        flex-direction: row;
        margin: unset;
    }
    .title3:hover {
        background-color: rgba(0, 0, 0, 0.7);
        color: white
    }
    .carousel-container .image-container,
    .carousel-container .image {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
    }
    .carousel-container .text {
        width: 50%;
        text-align: left;
        padding-left: 100px;
    }
    #carousel-2 {
        display: flex;
    }
}