@media(min-width: 481px) {
	.section-single-product{
		display:block;
		max-width:1200px;
		margin-right:auto;
		margin-left:auto;
		padding-top:60px;
		padding-bottom:50px;
		padding-left: 24px;
		padding-right: 24px;
		font-size:16px;
		/* line-height: 22px; */
		align-items:center;
	}
	.container-item{
		display:flex;
		flex:1;
		padding-left: 24px;
		padding-right: 24px;
		align-items:center;
		margin-left:auto;
		margin-right:auto;
	}
	.item-photo{   
		max-width:100%;
		border:2px solid #D1BEA8;
		max-height:500px;
	}
	.item-photo img{
		width:100%;
	}
	.item-box{
		padding-left:60px;
		display:flex;
		flex-direction: column;
		position:relative;
		left:30px;
		width:100%;	
		/* max-height:500px; */
	}
	.item-name{
		font-size:16px;
		width:100%;
	}
	#add-to-cart-text{
	height: 35px;
	width: 40px;
	}
	#add-to-cart-button{
		background-color:#392f31;
		color:#fff;
		width:150px;
		height:40px;
		padding: 10 15;
		text-transform:uppercase;	
	}
	#add-to-cart-button:hover{
		background-color:#D1BEA8;
        color:white;
	}
	.continue-btn{
		font-size:16px;
		color:gray;
	}
	.continue-btn a{
		text-decoration: none;
	}
	.continue-btn a:visited{
		color:gray;
	}
	.continue-btn:hover{
		color:#392f31;
	}


	.container-item-detail{
		display:flex;
		flex:1;
		padding-left: 24px;
		padding-right: 24px;
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}
	.item-detail-wrap{
		width:482px;
	}
	.item-info{
		padding-left: 80;
		left: 60px;
	}
	.label-item-price{
		color: #D1BEA8;
		padding-top:10px;
	}
	.price{
		color: black;
		font-weight: 600;
	}
	.label-quantity{
		color: #D1BEA8;
		padding-top:10px;
	}
	.label-desc{
		color: #D1BEA8;
		padding-top:10px;
		padding-bottom:10px;
	}
	.label-item-detail{
		color: #D1BEA8;
		padding-top:10px;
		padding-bottom:10px;
	}
}