@media(min-width: 481px) {
	.section-single-product{
		display:block;
		max-width:1200px;
		margin-right:auto;
		margin-left:auto;
		padding-top:60px;
		padding-bottom:50px;
		padding-left: 24px;
		padding-right: 24px;
		font-size:16px;
		line-height: 22px;
		align-items:center;
	}
	.container-item{
		display:flex;
		flex:1;
		padding-left: 24px;
		padding-right: 24px;
		align-items:center;
		margin-left:auto;
		margin-right:auto;
	}
	.item-photo{   
		max-width:100%;
		border:1px solid #D1BEA8;
	}
	.item-photo img{
		max-width:480px;
	}
	.item-box{
		padding-left:60px;
		display:flex;
		flex-direction: column;
		position:relative;
		left:30px;
		width:100%;	
	}
	.item-name{
		font-size:16px;
	}
	#add-to-cart-text{
	height: 35px;
	width: 40px;
	}
	#add-to-cart-button{
		background-color:black;
		color:#fff;
		padding: 10 15;
		text-transform:uppercase;	
	}
	.container-item-detail{
		display:flex;
		flex:1;
		padding-left: 24px;
		padding-right: 24px;
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}
	.item-detail-wrap{
		width:482px;
	}
	.item-info{
		padding-left: 80;
		left: 60px;
	}
	.label-item-price{
		color: #D1BEA8;
		padding-top:20px;
	}
	.price{
		color: black;
		font-weight: 600;
	}
	.label-quantity{
		color: #D1BEA8;
		padding-top:20px;
	}
	.label-desc{
		color: #D1BEA8;
		padding-top:20px;
	}
	.label-item-detail{
		color: #D1BEA8;
		padding-top:20px;
	}
}