@media(min-width: 481px) {
	*{
		box-sizing:border-box;
		/* border:1px solid red; */
	}
	body{
		background-color:white;
		font-size:100%;
		font-family: 'Muli', sans-serif;
		width: 100%; height: auto;
		margin: 0;
		padding: 0;
	}
	.page-wrapper {
		width: 100%;
	}
	a{
		background-color:transparent;
		text-decoration:none;
	}
	a:active,
	a:hover{
		outline:0;
	}
	.page-heading{
		background-color:#fff;
		text-align:center;
		position:relative;
		width:100%;
		padding:16px;
		display:block;
		flex:1;
	}
	.container-heading{
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 24px;
		padding-left: 24px;
	}
	.heading-title{
		font-size:36px;
	}
	.heading-text{
		font-size:16px;
	}
	.grid {
		overflow:hidden;
	}
	.item-row:after {
		clear:both;
		display:table;
		content:'';
	}
	.item-row.gutters {
		margin-left:-5px;
		margin-right:-5px;
	}
	[class*='col-']{
		float:left;
	}
	.gutters>[class*='col-']{
		padding-left:5px;
		padding-right:5px;
	}
	.offset-sm-1 {
		margin-left:8.333333%;
	}
	.col-md-1 {
		width:8.333333%;
	}
	.col-md-2 {
		width:16.666666%;
	}
	.col-md-3 {
		width:25%;
	}
	.col-md-4 {
		width:33.333333%;
	}
	.col-md-5 {
		width:41.666666%;
	}
	.col-md-6 {
		width:50%;
	}
	.col-md-7 {
		width:58.333333%;
	}
	.col-md-8 {
		width:66.666666%;
	}
	.col-md-9 {
		width:75%;
	}
	.col-md-10 {
		width:83.333333%;
	}
	.col-md-11 {
		width:91.666666%;
	}
	.col-md-12 {
		width:100%;
	}
	.col-min-width {
		min-width: 150px;
	}
	.col-min-width-row {
		min-width: 600;
	}
}